.d-flex {
    flex-wrap: wrap;
}

.user-group-text {
    padding: 7px;
    width: fit-content;
}

.developer-text {
    color: rgb(202, 51, 255);
}

.admin-text {
    color:rgb(199, 13, 0);
}

.contributor-text {
    color:rgb(209, 136, 0);
}