#editor {
    box-sizing: border-box;
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    font-size: 20px;
}

td, th {
    vertical-align: middle;
}

.verdict-svg, .code-submit {
    margin-right: 5px;
}

.consolas {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.input-output-text {
    padding: 7px;
    white-space: nowrap;
    cursor: pointer;
    overflow-x: auto;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#custom-input, #custom-output {
    resize: none;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}