{% extends "base.html" %}

{% block title %}Problems{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1>Problems</h1>
    {% if current_user.is_admin %}
    <a href="{{ url_for('admin_bp.create_problem') }}" class="btn btn-success align-self-center">Create</a>
    {% endif %}
</div>
<table class="table table-striped table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop="false">
    <thead>
        <tr class="d-flex">
            <th class="col-1">ID</th>
            <th class="flex-grow-1">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        {% if current_user.is_admin or problem.is_public %}
        <tr class="d-flex">
            <td class="col-1">
                <a href="{{url_for('problem_bp.problem', id=problem.id)}}" class="text-decoration-none">{{problem.id}}</a>
            </td>
            <td class="flex-grow-1">
                <a href="{{url_for('problem_bp.problem', id=problem.id)}}" class="text-decoration-none">{{problem.name}}</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
