{% extends "base.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="mb-3">
        <h1>
            Reset Password
        </h1>
    </div>
    <form method="post"
          action="{{ url_for('user_bp.reset_password', plaintext_token=plaintext_token) }}"
          class="needs-validation"
          oninput="confirm_password.setCustomValidity(confirm_password.value != new_password.value ? 'Passwords don\'t match.' : '')"
          novalidate>
        <div class="form-floating mb-3">
            <input type="password"
                   class="form-control"
                   name="new_password"
                   id="new_password"
                   placeholder="Password"
                   required />
            <label for="new_password">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password"
                   class="form-control"
                   name="confirm_password"
                   id="confirm_password"
                   placeholder="Password"
                   required />
            <label for="confirm_password">Confirm password</label>
            <div class="invalid-feedback">Passwords don't match.</div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Change password</button>
    </form>
{% endblock content %}
