{% extends "base.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card col-lg-6 p-4">
            <div class="card-body">
                <h2 class="card-title mb-3">Reset Password</h2>
                <form method="post"
                    action="{{ url_for('user_bp.reset_password', plaintext_token=plaintext_token) }}"
                    class="needs-validation"
                    oninput="confirm_password.setCustomValidity(confirm_password.value != new_password.value ? 'Passwords don\'t match.' : '')"
                    novalidate>
                    <div class="form-floating mb-3">
                        <input type="password"
                            class="form-control"
                            name="new_password"
                            id="new_password"
                            placeholder="Password"
                            required />
                        <label for="new_password">New password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password"
                            class="form-control"
                            name="confirm_password"
                            id="confirm_password"
                            placeholder="Password"
                            required />
                        <label for="confirm_password">Confirm password</label>
                        <div class="invalid-feedback">Passwords don't match.</div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3">Reset password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
