{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="mb-3">
    <h1>Set new password for <b>{{user.username}}</b></h1>
</div>
<form method="POST" action="{{ url_for('user_bp.reset_password', token=token) }}" class="needs-validation" novalidate>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" name="confirm-password" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Confirm password</label>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Change password</button>
</form>
{% endblock %}