{% extends "base.html" %}
{% block title %}{{ user.username }}{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ user.username }}</h3>
            <p>{{ user.full_name }}</p>
            <hr />
            <div class="d-flex flex-wrap" style="gap:10px;">
                {% if user.id in config['DEVELOPERS'] %}
                    <div class="card mb-3 user-group-text developer-text">
                        <b class="card-text">Developer</b>
                    </div>
                {% endif %}
                {% if user.is_admin() %}
                    <div class="card mb-3 user-group-text admin-text">
                        <b class="card-text">Admin</b>
                    </div>
                {% elif user.is_contributor() %}
                    <div class="card mb-3 user-group-text contributor-text">
                        <b class="card-text">Contributor</b>
                    </div>
                {% endif %}
                {% for user_group in self_user_groups %}
                    <div class="card mb-3 user-group-text">
                        <p class="card-text">{{ user_group.name }}</p>
                    </div>
                {% else %}
                    {% if not user.is_admin() and not user.is_contributor() and not user.id in config['DEVELOPERS'] %}
                        <p>No groups found.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap" style="gap:20px;">
                {% for problem in problems %}
                    {% if problem.is_public %}
                        <div class="p-3 border rounded-1 d-flex align-items-center justify-content-evenly">
                            <a href="{{ url_for('problem_bp.problem', id=problem.id)}}"
                               class="text-decoration-none me-2">{{ problem.id }}</a>
                            {% if problem.id in solved_problem_ids %}
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="#198754"
                                     class="bi bi-check-circle-fill"
                                     viewBox="0 0 16 16">
                                    <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="#6C757D"
                                     class="bi bi-dash-circle-fill"
                                     viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                                </svg>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
