{% extends "base.html" %}

{% block title %}Problem {{problem.id}}{% endblock %}

{% block content %}
<h1>Problem {{problem.id}}: {{problem.title}}</h1>
<p>{{problem.description}}</p>
<div class="mb-3" id="content">
    <form method="POST" action="{{ url_for('problem_bp.problem_submit') }}" id="codeForm">
        <textarea name="user_code"></textarea>
        <div id="editor"></div>
        <br />
        <button type="submit" class="btn btn-primary mb3" id="submitButton">
            Submit
        </button>
    </form>
</div>
{% endblock %}
