{% extends "base.html" %}

{% block title %}Problems{% endblock %}

{% block content %}
<div class="mb-3">
    <h1>Problems</h1>
</div>
{% for problem in problems %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{problem.id}}: {{problem.title}}</h5>
            <p class="card-text">{{problem.description|truncate}}</p>
            <a href="{{ url_for('problem_bp.problem', id=problem.id) }}" class="btn btn-primary">View</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
