{% extends "base.html" %}
{% block title %}Submission {{ submission.id }}{% endblock title %}
{% block content %}
<div class="modal fade" id="delete-confirm-modal" tabindex="-1" aria-labelledby="delete-confirm-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-confirm-modal-label">Confirm deletion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this submission?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('admin_bp.delete_submission', id=submission.id) }}"
                    class="btn btn-danger align-self-center">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between mb-1">
    <h1>
        Submission #<a id="submission-id">{{ submission.id }}</a>
    </h1>
    {% if current_user.is_contributor() %}
    <div class="btn-group">
        <a href="{{ url_for('admin_bp.rejudge_submission', id=submission.id) }}"
            class="btn btn-secondary align-self-center">Rejudge</a>
        <a data-bs-toggle="modal" data-bs-target="#delete-confirm-modal"
            class="btn btn-danger align-self-center">Delete</a>
    </div>
    {% endif %}
</div>
<div class="mb-3">
    <h4>Source Code</h4>
    <div id="editor">
        {%- if show_code -%}
        {{- submission.code -}}
        {%- else -%}
        # Source code hidden: you have not solved this problem yet :3
        {%- endif -%}
    </div>
</div>
<hr />
<div class="mb-3">
    <h4>Submission Info</h4>
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th class="col">Problem ID</th>
                <td class="text-center">
                    <a href="{{ url_for('problem_bp.problem', id=submission.problem_id)}}"
                        class="text-decoration-none">{{ submission.problem_id }}</a>
                </td>
            </tr>
            <tr>
                <th class="col">Username</th>
                {% if not current_user.is_admin() and current_user.id != submission.user_id and
                submission_user.hide_name %}
                <td class="text-center" style="color: gray;">
                    <i>Hidden</i>
                </td>
                {% else %}
                <td class="text-center">
                    <a href="{{ url_for('user_bp.profile', id=submission.user_id)}}" class="text-decoration-none">{{
                        submission_user.username }}</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th class="col">Submission time (UTC)</th>
                <td class="text-center">{{ submission.submission_time.strftime('%H:%M:%S %d-%m-%Y')}}</td>
            </tr>
            <tr>
                <th class="col">Final verdict</th>
                <a id="final-verdict-verdict" hidden>{{ submission.final_verdict.name }}</a>
                <td class="text-center" id="final-verdict">
                    {% if submission.final_verdict.is_ac() %}
                    <span class="badge rounded-pill text-bg-success d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z">
                            </path>
                        </svg>
                        &nbsp;{{ submission.final_verdict.value }}
                    </span>
                    {% elif submission.final_verdict.is_wj() %}
                    <span class="badge rounded-pill text-bg-secondary d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                            </path>
                        </svg>
                        &nbsp;{{ submission.final_verdict.value }}
                    </span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-danger d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                            </path>
                        </svg>
                        &nbsp;{{ submission.final_verdict.value }}
                    </span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div>
    <h4>Tests</h4>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Test ID</th>
                <th scope="col">
                    Verdict
                </th>
                <th scope="col">
                    Exec. time
                </th>
                <th scope="col">
                    Memory used
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="results-table-body">
            {% for result in submission.results %}
            <tr>
                <th scope="row">
                    {{ loop.index }}
                </th>
                <td id="verdict{{ loop.index }}" class="d-flex align-items-center" style="gap:10px;">
                    {% if result.verdict.is_ac() %}
                    <span class="badge rounded-pill text-bg-success d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                            </path>
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z">
                            </path>
                        </svg>
                        &nbsp;{{ result.verdict.value }}
                    </span>
                    {% elif result.verdict.is_wj() %}
                    <span class="badge rounded-pill text-bg-secondary d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z">
                            </path>
                            <path
                                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                            </path>
                        </svg>
                        &nbsp;{{ result.verdict.value }}
                    </span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-danger d-inline-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                            </path>
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                            </path>
                        </svg>
                        &nbsp;{{ result.verdict.value }}
                    </span>
                    {% endif %}
                    {% if result.message != '' %}
                    <a data-bs-toggle="modal" data-bs-target="#detail{{ loop.index }}-modal" href="#"
                       class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff6a00" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                    </a>
                    <div class="modal fade" id="detail{{ loop.index }}-modal" tabindex="-1"
                        aria-labelledby="detail{{ loop.index }}-modal-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="detail{{ loop.index }}-modal-label">Error message
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div style="white-space:pre-wrap;" class="consolas">
                                        {{-result.message-}}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </td>
                <td id="time{{ loop.index }}">
                    {% if not result.verdict.is_wj() %}
                    {{ result.time }}ms
                    {% endif %}
                </td>
                <td id="memory{{ loop.index }}">
                    {% if not result.verdict.is_wj() %}
                    {{ result.memory }} KB
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}