{% extends "base.html" %}

{% block title %}Problem {{problem.id}}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between mb-1">
    <h1>Problem {{problem.id}}: {{problem.name}}</h1>
    {% if current_user.is_admin %}
    <div class="btn-group">
        <a href="{{ url_for('admin_bp.rejudge_problem', id=problem.id) }}"
            class="btn btn-primary align-self-center">Rejudge</a>
        <a href="{{ url_for('admin_bp.edit_problem', id=problem.id) }}"
            class="btn btn-primary align-self-center">Edit</a>
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6">
        <p>{{problem.description}}</p>
        <hr>
        <h4>Sample testcases</h4>
        {% for testcase in problem.testcases %}
        {% if testcase.batch_number == 0 %}
        <div class="row">
            <div class="form-group mb-3 col-sm-6">
                <label class="form-label">Input</label>
                <div class="card">
                    <div class="card-body consolas" style="padding: 10px; white-space: pre-line;">{{testcase.input}}</div>
                </div>
                <!-- <textarea class="form-control testcase-input sample-texts" disabled>{{testcase.input}}</textarea> -->
            </div>
            <div class="form-group mb-3 col-sm-6">
                <label class="form-label">Answer</label>
                <div class="card">
                    <div class="card-body consolas" style="padding: 10px; white-space: pre-line;">{{testcase.answer}}</div>
                </div>
                <!-- <textarea class="form-control testcase-answer sample-texts" disabled>{{testcase.answer}}</textarea> -->
            </div>
        </div>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <h4>Your code</h4>
        <div class="mb-3">
            <form method="POST" action="{{ url_for('problem_bp.problem_submit', id=problem.id) }}" id="codeForm">
                <input type="hidden" name="problem_id" value="{{problem.id}}" />
                <div class="mb-3">
                    <textarea name="user_code"></textarea>
                    <div id="editor"></div>
                </div>
                {% if assignment_id %}
                <input type="hidden" name="assignment_id" value="{{assignment_id}}" />
                <div class="mb-3">
                    This will submit as part of assignment {{assignment_id}}.
                </div>
                {% endif %}
                <button type="submit" class="btn btn-primary mb-3" id="submitButton"></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('.static', filename='problem.js')}}"></script>
{% endblock %}