{% extends "base.html" %}
{% block title %}Problem {{ problem.id }}{% endblock title %}
{% block content %}
<div class="modal fade"
        id="delete-confirm-modal"
        tabindex="-1"
        aria-labelledby="delete-confirm-modal-label"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-confirm-modal-label">Confirm deletion</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this problem? All submissions to this problem will also be deleted.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('admin_bp.delete_problem', id=problem.id) }}"
                    class="btn btn-danger align-self-center">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
        id="details-modal"
        tabindex="-1"
        aria-labelledby="details-modal-label"
        aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="details-modal-label">Details</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body consolas" style="white-space: pre-wrap;" id="details-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between mb-1">
    <h1><span id="problem-id">{{ problem.id }}</span>: {{ problem.name }}</h1>
    {% if current_user.is_contributor() %}
        <div>
            {% if problem.is_public %}
                <svg xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-unlock-fill me-2"
                        viewBox="0 0 16 16">
                    <path
                    d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z" />
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-lock-fill me-2"
                        viewBox="0 0 16 16">
                    <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                </svg>
            {% endif %}
            <div class="btn-group">
                <a href="{{ url_for('admin_bp.edit_problem', id=problem.id) }}"
                    class="btn btn-primary align-self-center">Edit</a>
                <a data-bs-toggle="modal"
                    data-bs-target="#delete-confirm-modal"
                    class="btn btn-danger align-self-center">Delete</a>
            </div>
        </div>
    {% endif %}
</div>
<div class="row g-3">
    <div class="col-lg-6">
        <md-block>{{ problem.description }}</md-block>
        {% if example_testcases %}
            <hr />
            <h4 class="mb-0">Examples</h4>
            {% for testcase in example_testcases %}
                <div class="row">
                    <div class="form-group mt-2 col-sm-6">
                        <label class="form-label">Input</label>
                        <div class="card">
                            <div class="card-body input-output-text"
                                    onclick="copy_text(this)"
                                    data-bs-toggle="tooltip"
                                    data-bs-trigger="manual"
                                    title="Copied!">
                                {{- testcase.input -}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2 col-sm-6">
                        <label class="form-label">Answer</label>
                        <div class="card">
                            <div class="card-body input-output-text"
                                    onclick="copy_text(this)"
                                    data-bs-toggle="tooltip"
                                    data-bs-trigger="manual"
                                    title="Copied!">
                                {{- testcase.answer -}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex">
                <small class="ms-auto text-muted">Click to copy</small>
            </div>
        {% endif %}
        {% if problem.hints %}
            <hr />
            <div class="accordion">
                {% for hint in problem.hints %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ loop.index }}">
                                Hint #{{ loop.index }}
                            </button>
                        </h2>
                        <div id="collapse{{ loop.index }}" class="accordion-collapse collapse">
                            <div class="accordion-body">{{ hint }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="border p-3">
            <h4>Attempts</h4>
            <table class="table" style="font-size:13px;">
                <caption>Only showing the 10 latest submissions.</caption>
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-4">Time submitted (UTC)</th>
                        <th scope="col" class="col-6">Final verdict</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="attempts-table-body">
                    {% for submission in current_user.fetch_submissions(filter={'problem_id': problem.id}, limit=10) %}
                    <tr class="d-flex" submission-id="{{ submission.id }}">
                        <th scope="row" class="col-4">{{ submission.submission_time.strftime('%d/%m/%Y %H:%M') }}</th>
                        <td class="col-6 d-flex align-items-center verdict">
                            {% if submission.final_verdict.is_ac() %}
                            <span class="badge rounded-pill text-bg-success d-inline-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path
                                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z">
                                    </path>
                                </svg>
                                &nbsp;<span class="verdict-long">{{ submission.final_verdict.value }}</span>
                            </span>
                            {% elif submission.final_verdict.is_wj() %}
                            <span class="badge rounded-pill text-bg-secondary d-inline-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                                    </path>
                                </svg>
                                &nbsp;<span class="verdict-long">{{ submission.final_verdict.value }}</span>
                            </span>
                            &nbsp;&nbsp;(<span class="tests-completed">?</span>&nbsp;/&nbsp;<span class="total-tests">{{submission.results | length}}</span>)
                            {% else %}
                            <span class="badge rounded-pill text-bg-danger d-inline-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                                    </path>
                                </svg>
                                &nbsp;<span class="verdict-long">{{ submission.final_verdict.value }}</span>
                            </span>
                            {% endif %}
                        </td>
                        <td class="col-2">
                            <a href="{{url_for('submission_bp.submission', id=submission.id)}}" class="text-decoration-none">Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <form id="codeForm" action="{{url_for('api_bp.problem_submit', id=problem.id)}}" method="post">
            <div class="d-flex align-items-center mb-2" style="gap:10px;">
                <div class="flex-grow-1">
                    <select class="selectpicker" id="language-select" data-width="auto" name="language">
                        {% for language in allowed_languages %}
                            <option value="{{ language.name }}">{{ language.ui_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <div id="time-limit" hidden>{{ problem.time_limit / 1000 }}</div>
                    <small class="my-0"><b>Time limit: </b>{{ problem.time_limit / 1000 }}s</small>
                </div>
                <div>
                    <div id="memory-limit" hidden>{{ problem.memory_limit / 1024 }}</div>
                    <small class="my-0"><b>Memory limit: </b>{{ problem.memory_limit / 1024 }}MB</small>
                </div>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <textarea id="user-code" name="user_code" hidden></textarea>
                    <div id="editor"></div>
                </div>
                <div class="border p-3 mb-3">
                    <input class="form-check-input" type="checkbox" id="custom-test-checkbox" value=""/>
                    <label class="form-check-label" for="custom-test-checkbox">Custom test</label>
                    <div id="custom-test-group">
                        <hr>
                        <div class="d-flex justify-content-between mb-3">
                            <div class="mb-3 align-self-center">Input</div>
                            <button type="button" class="btn btn-primary" id="custom-test-button">Test</button>
                        </div>
                        <textarea id="custom-input" class="form-control" rows="3"></textarea>
                        <hr>
                        <div id="custom-test-alerts-placeholder"></div>
                        <div class="d-flex justify-content-between mb-3 align-items-center">
                            <div class="mb-3">Output</div>
                            <div class="mb-3" id="custom-test-verdict"></div>
                        </div>
                        <textarea id="custom-output" class="form-control" rows="3" readonly></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3" id="submitButton"></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript"
        src="{{url_for('.static', filename='problem.js')}}"></script>
{% endblock scripts %}
