{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Admin Guide</h1>
<h5>The admin menu</h5>
<p>
    You can access the admin menu in the navigation bar at the top.
    Through this menu, you can create or edit groups, assignments, and edit privileges.
</p>
<h5>Groups</h5>
<p>
    A group is a group of users. This is used when setting assignments.
    Create or edit a group through the admin menu in the navigation bar at the top.
</p>
<h5>Assignments</h5>
<p>
    An assignment is a group of problems that can be assigned to group(s).
    It can be made visible or not visible to students.
    If made visible, all problems set in the assignment, including non-public problems, will be visible to the students assigned.
    Create or edit an assignment through the admin menu in the navigation bar at the top.
</p>
{% endblock content %}
