{% extends "base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1>Assignments</h1>
    <a href="{{url_for('admin_bp.create_assignment')}}" class="btn btn-success align-self-center">Create</a>
</div>
<table class="table table-striped table-bordered"
       class="table table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop="false">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Set</th>
            <th scope="col">Created by</th>
            <th scope="col">Problem IDs</th>
            <th scope="col">Set to</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <th scope="row">{{assignment.id}}</th>
            <td>{{assignment.set_time.strftime("%d/%m/%y %H:%M")}}</td>
            <td>{{assignment.creator}}</td>
            <td>{{assignment.problem_ids|join(', ')}}</td>
            <td class="d-flex align-items-center justify-content-between">
                <div>
                    {% for group_id in assignment.user_group_ids %}{{user_group_names[group_id]}}{% if not loop.last %}, {% endif %}{% endfor %}
                </div>
                <div>
                    <a href="{{url_for('admin_bp.assignment_results', id=assignment.id)}}" class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                        </svg>
                    </a>
                    <a class="ms-1 text-decoration-none" onclick="copy_text(this, '{{url_for('assignment_bp.assignment', id=assignment.id)}}')" data-bs-toggle="tooltip" data-bs-trigger="manual" title="Copied!" style="cursor:pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </a>
    
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
