{% extends "base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1>Assignments</h1>
    <a href="{{url_for('admin_bp.create_assignment')}}" class="btn btn-success align-self-center">Create</a>
</div>
<table class="table table-striped table-bordered"
       class="table table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop="false">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Set</th>
            <th scope="col">Created by</th>
            <th scope="col">Problem IDs</th>
            <th scope="col">Set to</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        {% for assignment in assignments %}
        <tr>
            <th scope="row">{{assignment.id}}</th>
            <td>{{assignment.set_time.strftime("%d/%m/%y %H:%M")}}</td>
            <td>{{assignment.creator}}</td>
            <td>{{assignment.problem_ids|join(', ')}}</td>
            <td>{% for group_id in assignment.user_group_ids %}{{user_group_names[group_id]}}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            <td>
                <a href="{{url_for('admin_bp.assignment_results', id=assignment.id)}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                    </svg>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
