{% extends "base.html" %}

{% block title %}Create Problem{% endblock %}

{% block content %}
<div id="create-assignment-page">
    <div class="mb-3">
        <h1>Create Assignment</h1>
    </div>
    
    <form method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <p>Problems</p>
            <select class="selectpicker form-control" id="problem-selector" data-live-search="true" data-width="fit" data-show-subtext="true">
                {% for problem in problems %}
                <option data-subtext="{{problem.id}}" value="{{problem.id}}">{{problem.name}}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary" id="add-problem-button" onclick="add_problem()">Add Problem</button>
        </div>
        <div class="border p-4 mb-3" id="problem-container"></div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('.static', filename='create_assignment.js')}}"></script>
{% endblock %}
