{% extends "base.html" %}
{% block title %}Create Assignment{% endblock title %}
{% block content %}
    <div class="mb-3">
        <h1>Create Assignment</h1>
    </div>
    <div class="mb-3">
        <p>
            Currently selected problems: <span id="selected-problem-ids"></span>
        </p>
        <p>
            Currently selected groups: <span id="selected-user-group-names"></span>
        </p>
        <form method="post" id="form">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Problems</h4>
            <table id="table"
                   class="table table-striped table-bordered"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-pagination-loop="false"
                   data-click-to-select="true"
                   data-maintain-meta-data="true"
                   data-custom-search="create_assignment_searcher">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" scope="col"></th>
                        <th data-field="id_vis" scope="col">ID</th>
                        <th data-field="name" scope="col">Name</th>
                        <th data-field="id" data-visible="false" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                        <tr data-id="{{ problem.id }}"
                            data-name="{{ problem.name }}">
                            <td></td>
                            <td>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <a href="{{ url_for('problem_bp.problem', id=problem.id)}}"
                                       class="text-decoration-none">{{ problem.id }}</a>
                                    {% if not problem.is_public %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-lock-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                        </svg>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('problem_bp.problem', id=problem.id)}}"
                                   class="text-decoration-none">{{ problem.name }}</a>
                            </td>
                            <td>{{ problem.id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Set to</h4>
            <table id="user-group-table"
                   class="table table-striped table-bordered"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-pagination-loop="false"
                   data-click-to-select="true"
                   data-maintain-meta-data="true"
                   data-custom-search="create_assignment_searcher">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" scope="col"></th>
                        <th data-field="id_vis" data-visible="false" scope="col">ID</th>
                        <th data-field="id" scope="col"></th>
                        <th data-field="name_vis" scope="col">Name</th>
                        <th data-field="name" data-visible="false" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_group in user_groups %}
                        <tr data-id="{{ user_group.id }}"
                            data-name="{{ user_group.name }}">
                            <td></td>
                            <td>
                                <a href="{{ url_for('admin_bp.edit_user_group', id=user_group.id) }}"
                                   class="text-decoration-none">{{ user_group.id }}</a>
                            </td>
                            <td>{{ user_group.id }}</td>
                            <td>
                                <a href="{{ url_for('admin_bp.edit_user_group', id=user_group.id) }}"
                                   class="text-decoration-none">{{ user_group.name }}</a>
                            </td>
                            <td>{{ user_group.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript"
            src="{{ url_for('.static', filename='create_assignment.js') }}"></script>
{% endblock scripts %}
