{% extends "base.html" %}

{% block title %}Create assignment{% endblock %}

{% block content %}
<div class="mb-3">
    <h1>Create assignment</h1>
</div>
<p>Currently selected problems: <span id="selected-problem-ids"></span></p>
<p>Currently selected user groups: <span id="selected-user-group-ids"></span></p>
<form method="POST" id="form">
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<table 
       id="table"
       class="table table-striped table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop="false"
       data-click-to-select="true"
       data-maintain-meta-data="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td></td>
            <td>
                {{problem.id}}
            </td>
            <td>
                <a href="{{url_for('problem_bp.problem', id=problem.id)}}" class="text-decoration-none">{{problem.name}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table 
       id="user-group-table"
       class="table table-striped table-bordered"
       data-toggle="table"
       data-search="true"
       data-pagination="true"
       data-pagination-loop="false"
       data-click-to-select="true"
       data-maintain-meta-data="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id">ID</th>
            <th data-field="name">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user_group in user_groups %}
        <tr>
            <td></td>
            <td>
                {{user_group.id}}
            </td>
            <td>
                {{user_group.name}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('.static', filename='create_assignment.js')}}"></script>
{% endblock %}
