{% extends "base.html" %}

{% block title %}Create Problem{% endblock %}

{% block content %}
<h1>Create Problem</h1>
<form method="POST">
    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" name="id" placeholder="eg. A1">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="add_field()">Add testcases</button>
    <!-- dummy testcase -->
    <div id="testcase-div" style="display: none">
        <div class="container">
            <div class="row">
                <h5 class="col-sm-11">Testcase 1</h5>
                <!-- <h5 class="col-sm-1">Testcase 1</h5> -->
                <button type="button" class="btn" onclick="remove_field(this)" class="col-sm-1">Remove</button>
            </div>
        </div>
        <div class="form-group">
            <label for="testcases">Input</label>
            <textarea class="form-control" name="input" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="testcases">Answer</label>
            <textarea class="form-control" name="answer" rows="3"></textarea>
        </div>
    </div>
    <div id="testcase-container" style="overflow-y:auto; max-height:400px;"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
{% endblock %}
