{% extends "base.html" %}
{% block title %}Editing: Problem {{ problem.id }}{% endblock title %}
{% block content %}
<div class="modal fade" id="delete-confirm-modal" tabindex="-1" aria-labelledby="delete-confirm-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete-confirm-modal-label">Confirm deletion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this problem? All submissions to this problem will also be deleted.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('admin_bp.delete_problem', id=problem.id) }}"
                    class="btn btn-danger align-self-center">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <h1>Problem {{ problem.id }}</h1>
    <a data-bs-toggle="modal" data-bs-target="#delete-confirm-modal" class="btn btn-danger align-self-center">Delete</a>
</div>
<p>Please see the <a href="{{url_for('home_bp.contributor_guide')}}" style="text-decoration: none;">contributor guide</a>.</p>
<div>
    <form method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label for="id" class="form-label">ID</label>
            <input type="text" class="form-control" name="id" id="id" placeholder="Enter problem ID"
                value="{{ problem.id }}" readonly disabled />
        </div>
        <div class="form-group mb-3">
            <input class="form-check-input is-public-checkbox" type="checkbox" name="is_public" {% if problem.is_public
                -%} checked {%- endif %} id="is-public" />
            <label class="form-check-label" for="is-public">Public</label>
        </div>
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter problem name"
                value="{{ problem.name }}" required />
            <div class="invalid-feedback">This field is required.</div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="description" class="form-label">Description (supports Markdown and MathJax)</label>
                    <textarea class="form-control" name="description" id="description" rows="10"
                        placeholder="Enter problem description" style="white-space: pre-line"
                        required>{{problem.description}}</textarea>
                    <div class="invalid-feedback">This field is required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <label for="description-md" class="form-label">Preview</label>
                <div class="card">
                    <md-block id="description-md">{{ problem.description }}</md-block>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="form-group">
                <label for="hints" class="form-label">Hints (each hint should be on its own line)</label>
                <textarea class="form-control" name="hints" id="hints"
                    rows="5">{{problem.hints | join('\n')}}</textarea>
            </div>
        </div>
        <label class="form-label">Testcases</label>
        <div class="border p-4 mb-3">
            <select class="selectpicker" id="testcase-type-select" name="testcase-type" data-width="auto">
                <option value="manual" data-subtext="Enter testcases manually" {%- if not problem.testcase_from_file -%} selected {%- endif -%}>Manual</option>
                <option value="file" data-subtext="Upload a zip file of testcases" {%- if problem.testcase_from_file -%} selected {%- endif -%}>File</option>
            </select>
            <div id="testcase-file-div" class="mt-3">
                <button type="button" class="btn btn-primary mb-3" onclick="location.href='{{url_for("uploads_bp.download", problem_id=problem.id)}}'">Download current file</button>
                <input class="form-control" type="file" name="testcase-file" accept=".zip"/>
            </div>
            <div id="testcase-manual-div" class="mt-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <button type="button" class="btn btn-success mb-3" onclick="createTestcase()">Add testcase</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger mb-3"
                            onclick="deleteTestcase()">Remove
                        </button>
                    </div>
                </div>
                <div class="container mb-3">
                    <div class="row gy-3">
                        <div class="col-md-3">
                            <div class="list-group" id="testcases-buttons-container" style="overflow-y:auto; max-height:400px;">
                                {%- for testcase in problem.testcases %}
                                <button id="testcase-button{{loop.index0}}" type="button" class="list-group-item-action" onclick="selectTestcase({{loop.index0}})">
                                    Testcase {{loop.index}}
                                </button>
                                {%- endfor %}
                            </div>
                        </div>
                        <div class="col-md-9 px-0" id="testcase-groups-container">
                            {%- for testcase in problem.testcases %}
                            <div id="testcase-group{{loop.index0}}" style="display: none;">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <h5 id="testcase-number{{loop.index0}}">Testcase {{loop.index}}</h5>
                                    </div>
                                    <div>
                                        <input class="form-check-input example-checkbox" type="checkbox" value="" name="example{{loop.index0}}" id="example{{loop.index0}}" {%- if
                                            testcase.batch_number==0 -%} checked {%- endif %} onclick="exampleTestcaseOnChange(this)"/>
                                        <label class="form-check-label" for="example{{loop.index0}}">Example testcase</label>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="batch_number{{loop.index0}}">Batch number</label>
                                    <input class="form-control testcase-batch-number" type="number" min="1" name="batch_number{{loop.index0}}" id="batch_number{{loop.index0}}"
                                        value="{{testcase.batch_number}}" {%- if testcase.batch_number==0 -%} disabled {%- endif %}/>
                                </div>
                                <label class="form-label" for="input{{loop.index0}}">
                                    Input
                                </label>
                                <textarea class="form-control testcase-input mb-2" rows="3" id="input{{loop.index0}}"
                                    name="input{{loop.index0}}">{{testcase.input}}</textarea>
                                <label class="form-label" for="answer{{loop.index0}}">
                                    Answer
                                </label>
                                <textarea class="form-control testcase-answer" rows="3" id="answer{{loop.index0}}"
                                    name="answer{{loop.index0}}">{{testcase.answer}}</textarea>
                            </div>
                            {%- endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="generate-input-checkbox" name="generate-input" {%- if problem.generate_input_code %}checked{%- endif %}/>
                    <label class="form-check-label" for="generate-input-checkbox">Generate inputs</label>
                </div>
                <div class="mt-3" id="input-editor-group" {%- if not problem.generate_input_code %}style="display: none;"{%- endif %}>
                    <div class="form-group mb-3">
                        <label class="form-label" for="generate-input-batch-number">Generate for batch number</label>
                        <input class="form-control" type="number" min="0" value="1" id="generate-input-batch-number"/>
                    </div>
                    <div class="mb-3">
                        <select class="selectpicker" id="input-language-select" name="input-generator-language" data-width="auto">
                            {% for language in all_languages %}
                            <option value="{{ language.name }}" {%- if problem.generate_input_code and language.name == problem.generate_input_code.language %}selected{%- endif %}>{{ language.ui_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <textarea id="input-generator-code" name="input-generator-code" hidden></textarea>
                    <div id="input-editor" class="mb-3">{%- if problem.generate_input_code %}{{problem.generate_input_code.code}}{%- endif %}</div>
                    <button type="button" class="btn btn-primary" id="gen-input-button" onclick="generateInputs()">
                        Generate inputs
                    </button>
                    <div id="input-gen-alert-placeholder"></div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="generate-answer-checkbox"
                        name="generate-answer" {%- if problem.generate_answer_code %}checked{%- endif %}/>
                    <label class="form-check-label" for="generate-answer-checkbox">Generate
                        answers</label>
                </div>
                <div class="mt-3" id="editor-group" {%- if not problem.generate_answer_code %}style="display: none;"{%- endif %}>
                    <div class="mb-3">
                        <select class="selectpicker" id="language-select" name="answer-generator-language" data-width="auto">
                            {% for language in all_languages %}
                            <option value="{{ language.name }}" {%- if problem.generate_answer_code and language.name == problem.generate_answer_code.language %}selected{%- endif %}>{{ language.ui_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <textarea name="generator-code" id="generator-code" hidden></textarea>
                    <div id="editor" class="mb-3">{%- if problem.generate_answer_code %}{{problem.generate_answer_code.code}}{%- endif %}</div>
                    <button type="button" class="btn btn-primary" id="gen-answer-button" onclick="generateAnswers()">
                        Generate answers
                    </button>
                    <div id="gen-alert-placeholder"></div>
                </div>
            </div>
        </div>
        <input id="testcases-count" name="testcases-count" type="text" value="{{ problem.testcases| length }}" hidden/>

        <label class="form-label">Judge method</label>
        <div class="border p-3 mb-3">
            <select class="selectpicker" id="judge-method-select" name="judge-method" data-width="auto">
                <option value="compare-output" data-subtext="Compare output of program to testcase answer" {%- if not problem.grader_source_code -%} selected {%- endif -%}>Compare output</option>
                <option value="grader" data-subtext="Judge output using custom grader program" {%- if problem.grader_source_code -%} selected {%- endif -%}>Grader</option>
            </select>
            <div id="grader-div">
                <div class="mt-3" id="grader-editor-group">
                    <div class="mb-3">
                        <select class="selectpicker" id="grader-language-select" data-width="auto" name="grader-language">
                            {% for language in all_languages %}
                            <option value="{{ language.name }}" {%- if problem.grader_source_code.language==language -%} selected {%- endif -%}>{{ language.ui_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <textarea name="grader-code" id="grader-code" hidden></textarea>
                    <div id="grader-editor" class="mb-3">{{problem.grader_source_code.code}}</div>
                </div>
                <button type="button" class="btn btn-primary" id="test-grader-button" onclick="testGrader()">
                    Test grader
                </button>
                <div id="grader-alert-placeholder"></div>
            </div>
        </div>
        
        <div class="mb-3">
            <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="restrict-langs" name="restrict-langs" {%- if problem.allowed_languages -%} checked {%- endif -%}/>
                <label class="form-check-label" for="restrict-langs">
                    Restrict problem to certain languages only
                </label>
            </div>
            <div id="allowed-languages-wrapper">
                <select class="selectpicker" id="allowed-languages" name="allowed-languages" multiple data-actions-box="true" data-width="100%">
                    {% for language in all_languages %}
                    <option value="{{ language.name }}" id="{{ language.name }}" {%- if problem.allowed_languages and language in problem.allowed_languages %} selected{% endif -%}>{{ language.ui_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div id="aqa-addresses-wrapper">
            <label class="form-label">Memory addresses of inputs and outputs for AQA Assembly (each address should be on its own line)</label>
            <div class="border p-3 mb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-address" class="form-label">Input</label>
                            <textarea class="form-control" name="input-address" id="input-address"
                                rows="5">{{problem.aqaasm_inputs | join('\n')}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="output-address" class="form-label">Output</label>
                            <textarea class="form-control" name="output-address" id="output-address"
                                rows="5">{{problem.aqaasm_outputs | join('\n')}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <label for="time-limit" class="form-label">
            Time limit
        </label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="time-limit" id="time-limit" value="{{ problem.time_limit / 1000 }}" required />
            <span class="input-group-text">seconds (recommended: 1-10)</span>
            <div class="invalid-feedback">
                This field is required.
            </div>
        </div>
        <label for="memory-limit" class="form-label">
            Memory limit
        </label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="memory-limit" id="memory-limit" value="{{ problem.memory_limit / 1024 }}" required />
            <span class="input-group-text">MB (recommended: 64-512)</span>
            <div class="invalid-feedback">
                This field is required.
            </div>
        </div>
        <div class="d-flex align-items-center" style="gap:20px;">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="rejudge" name="rejudge" />
                <label class="form-check-label" for="rejudge">
                    Rejudge existing submissions to this problem
                </label>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="{{url_for('.static', filename='problem.js')}}"></script>
{% endblock scripts %}