{% extends "base.html" %}
{% block title %}Edit Assignment{% endblock title %}
{% block content %}
    <div class="modal fade" id="delete-confirm-modal" tabindex="-1" aria-labelledby="delete-confirm-modal-label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-confirm-modal-label">Confirm deletion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Are you sure you want to delete this assignment?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('admin_bp.delete_assignment', id=assignment.id) }}"
                        class="btn btn-danger align-self-center">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3">
        <h1>Edit Assignment {{ assignment.id }}</h1>
        <a data-bs-toggle="modal" data-bs-target="#delete-confirm-modal" class="btn btn-danger align-self-center">Delete</a>
    </div>
    <div class="mb-3">
        <p>
            Currently selected problems: <span id="selected-problem-ids">{{ assignment.problem_ids|join(', ') }}</span>
        </p>
        <p>
            Currently selected groups: <span id="selected-user-group-names">{{ assignment.user_group_ids|join(', ') }}</span>
        </p>
        <form method="post" id="form">
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="visible-checkbox" name="visible-checkbox" {% if assignment.visible %}checked{% endif %}>
                <label for="visible-checkbox" class="form-check-label">Visible</label>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h4>Problems</h4>
            <table id="problem-table"
                   class="table table-striped table-bordered"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-pagination-loop="false"
                   data-click-to-select="true"
                   data-maintain-meta-data="true"
                   data-custom-search="edit_assignment_searcher">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" scope="col"></th>
                        <th data-field="id_vis" scope="col">ID</th>
                        <th data-field="name" scope="col">Name</th>
                        <th data-field="id" data-visible="false" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                        <tr data-id="{{ problem.id }}"
                            data-name="{{ problem.name }}">
                            <td></td>
                            <td>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <a href="{{ url_for('problem_bp.problem', id=problem.id)}}"
                                       class="text-decoration-none">{{ problem.id }}</a>
                                    {% if not problem.is_public %}
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-lock-fill"
                                             viewBox="0 0 16 16">
                                            <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                        </svg>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('problem_bp.problem', id=problem.id)}}"
                                   class="text-decoration-none">{{ problem.name }}</a>
                            </td>
                            <td>{{ problem.id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Set to</h4>
            <table id="user-group-table"
                   class="table table-striped table-bordered"
                   data-toggle="table"
                   data-search="true"
                   data-pagination="true"
                   data-pagination-loop="false"
                   data-click-to-select="true"
                   data-maintain-meta-data="true"
                   data-custom-search="edit_assignment_searcher">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" scope="col"></th>
                        <th data-field="id_vis" data-visible="false" scope="col">ID</th>
                        <th data-field="id" scope="col"></th>
                        <th data-field="name_vis" scope="col">Name</th>
                        <th data-field="name" data-visible="false" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_group in user_groups %}
                        <tr data-id="{{ user_group.id }}"
                            data-name="{{ user_group.name }}">
                            <td></td>
                            <td>
                                <a href="{{ url_for('admin_bp.edit_user_group', id=user_group.id) }}"
                                   class="text-decoration-none">{{ user_group.id }}</a>
                            </td>
                            <td>{{ user_group.id }}</td>
                            <td>
                                <a href="{{ url_for('admin_bp.edit_user_group', id=user_group.id) }}"
                                   class="text-decoration-none">{{ user_group.name }}</a>
                            </td>
                            <td>{{ user_group.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript"
            src="{{ url_for('.static', filename='assignment.js') }}"></script>
{% endblock scripts %}
